.scroll-container {
  max-height: 16rem; /* نفس max-h-64 */
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scroll-container:hover {
  scrollbar-width: auto;
}

.scroll-container:hover::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scroll-container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
